---
import { basics } from "../resume.json";

const { summary } = basics;
---

<div>
    <p class="font-base ml-5 text-pretty">{summary} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam ex nam eligendi velit, sapiente ducimus facilis perspiciatis iusto labore, voluptatem blanditiis dignissimos omnis ullam, perferendis alias consequuntur laudantium nemo minus?</p>

</div>