---
interface Props {
  title: string;
  body: string;
  href: string;
  backgroundColor: string;
  imgRef: string;
  owner: string;
}

const { href, title, body, backgroundColor, imgRef, owner } = Astro.props;
---

<div
  class={"card-container border border-double border-gray-100 rounded " +
    backgroundColor +
    " w-full p-12 text-black"}
>
  <li>
    <a href={href} class="relative">
      <h2 class="text-xxl">
        {title}
      </h2>
      <p class="text-base">
        {body}
      </p>
      <div class="image-container h-[100%] w-[100%] mt-3 flex items-center justify-center">
        <img src={imgRef} alt="imagen" class="w-[75%] h-[25%]" />
      </div>
    
    </a>
  </li>
</div>

<style>

  .card-container {
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    z-index: var(--z-lower);
  }

  .card-container:hover {
    transform: scale(1.025) translate(0%, 1%);
    opacity: 0.75;
  }

  .image-container{
    z-index: var(--z-base);
  }
</style>
