---

interface Props {
  id: string;
  title:string;
  className?: string;
}

const {id, title, className }=  Astro.props;

---

<section id={id} class={`p-3 border border-green-500 ${className}`}>
    <div class="container m-2">
      <h2 class="text-xl font-bold">
        {title}
      </h2>
    </div>
   <slot/> 
</section>

<style>
  section{
    min-width: 275px;
    max-width: 700px;
    margin: 0 auto 72px;
  }
</style>