---
import { ViewTransitions, fade } from "astro:transitions";
import Header from "../components/header/Header.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;

let isDarkMode: boolean = false;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-16" />
    <meta name='gmr-info"' content="gmr-info" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body id="body_layout"
    transition:animate={fade({ duration: "0.4s" })}
  >
    <slot />
    <script src="../components/header/header.ts"></script>
  </body>

  <style is:global>
    body {
      padding: 3rem;
    }

    html {
      font-family: system-ui, sans-serif;
      background-size: 224px;
    }
    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
