---
import { getLangFromUrl, getResume } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);

const { basics } = getResume(lang);
---

<div class="text-base font-normal text-pretty">
    <p >{basics?.summary}</p>
</div>