---
import NavLinkCustom from "./NavLinkCustom.astro";
---

<header
  class="border border-gray-100 rounded p-4 md:p-5 bg-opacity-75 transparent bg-gray-200 text-black w-full"
>
  <div class="block md:flex items-end justify-between mx-2 md:mx-4">
    <div class="flex gap-x-5">
      <nav class="hidden sm:block sm:space-x-2 md:flex md:space-x-4">
        <NavLinkCustom linkName="about" href="#about">
          <Fragment slot="before">
            <img class="w-7" src="/info_FILL0_wght400_GRAD0_opsz24.svg" alt="" />
          </Fragment>
        </NavLinkCustom>
        <NavLinkCustom linkName="languages" href="#languages">
          <Fragment slot="before">
            <img class="w-7" src="/public/icons/language.svg" alt="" />
          </Fragment>
        </NavLinkCustom>

        <NavLinkCustom linkName="skills" href="#skills">
          <Fragment slot="before">
            <img class="w-7" src="../public/icons/person_check.svg" alt="" />
          </Fragment>
        </NavLinkCustom>

        <NavLinkCustom linkName="projects" href="#projects">
          <Fragment slot="before">
            <img class="w-7" src="../public/icons/construction.svg" alt="" />
          </Fragment>
        </NavLinkCustom>

        <NavLinkCustom linkName="experience" href="#experience">
          <Fragment slot="before">
            <img class="w-7" src="../public/icons/work.svg" alt="" />
          </Fragment>
        </NavLinkCustom>

        <NavLinkCustom linkName="contact me" href="#contact-me">
          <Fragment slot="before">
            <img class="w-7" src="../public/icons/contact.svg" alt="" />
          </Fragment>
        </NavLinkCustom>
      </nav>

      <div id="lenguage" class="dropdown">
        
        <span class="dropdown-item"> Language</span>

        <div class="dropdown-content">
          <span id="es" class="dropdown-item">Spanish</span>
          <span id="en" class="dropdown-item">English</span>
        </div>
      </div>
    </div>

    <div class="float-right mt-auto sm:mt-3">
      <div class="container__switch">
        <label class="switch">
          <input type="checkbox" id="toggleButton" />
          <span class="slider"></span>
        </label>
      </div>
    </div>
  </div>
</header>


<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-priority);
  }
  .container__switch {
    text-align: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 3rem;
    height: 1.25rem;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 2rem;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 1.5rem;
    width: 1.5rem;
    left: 0px;
    bottom: 0px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #2196f3;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    transform: translateX(1.5rem);
  }

  .dropdown {
    position: relative;
    /*display: inline-block;*/
    display: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: var(--z-priority);
    min-width: 33px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown-item {
    padding: 8px;
    cursor: pointer;
    margin-top: 3rem;
    margin-bottom: 3rem;
    transition: background-color 0.3s;
  }

  .dropdown-item:hover {
    background-color: #ddd;
  }
</style>

