---
interface Props {
  linkName: string;
  href: string;
}

const { linkName, href} = Astro.props;
---
<div class="flex align-items-end">
  <slot class="mx-1" name="before"/>
  <a class="mx-1 name bolder hover:underline lowercase" href={href}>{linkName}</a>
  <slot class="mx-1" name="after"/>
</div>

<style>

  .name:active{
    color: #0870e7;

  }


</style>
   