---
interface Props {
  id: string;
  title: string;
  icon?: string;
  className?: string;
}

const { id, title, icon, className } = Astro.props;
---

<section id={id} class={`p-5 border border-gray-300 rounded-xl shadow-xl ${className}`}>
 
    <div class="container m-2 flex justify-between">
      <h2 class="text-xl font-bold mb-5 opacity-60">
        {title}
      </h2>
      {
        icon? <img  class="w-[1.5rem] h-[1.5rem]" src={icon} /> : null
      }
      
    </div>
    <div class="ml-2">
      <slot />
    </div>
  </div>
    
      
</section>

<style>
  section {
    flex-direction: row;
    min-width: 325px;
    max-width: 60vw;
    margin: 0 auto 72px;
    opacity: 0;
    animation: aparecer 3s ease forwards; 
    }
    @keyframes aparecer {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
</style>
