---
import Angular from "../icons/Angular.astro";
import {currentResume as resume } from "../globals.ts";
import Git from "../icons/Git.astro";
import EmptyIcon from "../icons/EmptyIcon.astro";
import CSS from "../icons/CSS.astro";
import Java from "../icons/Java.astro";
import Tailwind from "../icons/Tailwind.astro";
import SCSS from "../icons/SCSS.astro";
import Typescript from "../icons/Typescript.astro";
import Springboot from "../icons/Spring.astro";
import Python from "../icons/Python.astro";
import Postman from "../icons/Postman.astro";
import Github from "../icons/Github.astro";
import Bootstrap from "../icons/Bootstrap.astro";
import Firebase from "../icons/Firebase.astro";
import Mysql from "../icons/Mysql.astro";
import Docker from "../icons/Docker.astro";
import Postgresql from "../icons/Postgress.astro";
import MongoDB from "../icons/Mongo.astro";
import Linux from "../icons/Linux.astro";
import Jira from "../icons/Jira.astro";
import AstroIcon from "../icons/AstroIcon.astro";

const ICONS: Record<string, any> = {
  Angular,
  CSS,
  Java,
  Git,
  Tailwind,
  SCSS,
  Typescript,
  Springboot,
  Python,
  Github,
  Postman,
  Firebase,
  Bootstrap,
  Mysql,
  Postgresql,
  Docker,
  MongoDB,
  Linux,
  Jira,
  AstroIcon
};

const skills = resume.skills;
---

<ul class="flex flex-wrap gap-3">
  {
    skills.map((skill) => {
      const skillName = skill.name === "Astro.js" ? "AstroIcon" : skill.name;
      const Icon = ICONS[skillName] ? ICONS[skillName] : EmptyIcon;
      return (
        <li>
          <span class="flex items-center justify-center gap-x-3 bg-gray-200 border border rounded-xl text-blue-700 text-base font-semibold lowercase p-5 bg-opacity-50 min-w-[200px]">
            <Icon height="25" width="25" />

            <p>{skill.name}</p>
          </span>
        </li>
      );
    })
  }
</ul>

<style>
  li span {
    transition:
      filter,
      transform,
      filter 0.5s;
  }

  li span:hover {
    filter: brightness(150%);
    transform: scale(1.1);
  }
</style>
