---
import MainLayout from "../layouts/main-page/Layout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-16" />
    <meta name='gmr-info"' content="error-404" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>no encontrada</title>
  </head>

  <MainLayout title="Error 404", description="">
    <div class="error_container border rounded-2">
        <div class="flex">
            <h3 class="text-left mr-2">La dirección que buscas no ha sido encontrada</h3>
            <span
              ><i>
                <img src="/info_FILL0_wght400_GRAD0_opsz24.svg" alt="info" />
              </i></span
            >

        </div>
        <div>
            <small>Puedes volver al inicio a través del siguiente link:</small>
      <div class="container_link">
        <i class="">{'-> '}</i>
        <a href="./">inicio</a>

        </div>
     
      
      </div>
    </div>
  </MainLayout>
</html>

<style>
  .error_container {
    padding: 10%;
    margin: 10% 5%;
  }

  .container_link {
    display: block;
    padding: 0;
  }

  a {
    margin: auto 2%;
  }
</style>
