---
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import MainLayout from "../layouts/main-page/MainLayout.astro";
import SectionContainer from "../components/SectionContainer.astro";
---

<MainLayout
  title="porfolio - web software developer fullstack"
  .
  description="fullstack developer junior"
>
  <main>
    <SectionContainer id="introduction">
      <div class="text-center">
        <h1 class="text-xl mb-3">
          Soy Gabriel Remes, desarrollador <span class="text-red-600 font-bold"
            >fullstack</span
          >
        </h1>
        <p class="text-base mb-5">
          mayormente enfocado al desarrollo del backend
        </p>
        <p class="text-sm text-gray-600">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores
          facere corporis inventore distinctio amet eligendi quidem sit aliquid,
          id sapiente animi a numquam quos magnam voluptatum tempora,
          consectetur iste sequi.
        </p>
      </div>
    </SectionContainer>

    <SectionContainer id="projects">
      <ul
        role="list"
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4"
      >
        <Card
          href="lumini"
          title="Lumini"
          body="Proyecto grupal de  red social"
          backgroundColor="bg-gradient-to-r from-green-600 via-green-500 to-green-500"
          imgRef="../public/noCountry-logo.png"
          owner="noCountry"
        />
        <Card
          href="tripmate"
          title="TripMate"
          body="Proyecto grupal de comunidad de viaje "
          backgroundColor="bg-gradient-to-r from-yellow-500 via-yellow-500 to-yellow-400"
          imgRef="../public/tripmate-logo.png"
          owner="noCountry"
        />
      </ul>
    </SectionContainer>
  </main>
</MainLayout>

<Footer id="contact-me" />

<style>
  @import url("https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap");

  :root {
    --color-violet: rgb(73 35 242);
    --z-high-priority: 1000;
    --z-priority: 10;
    --z-base: 1;
    --z-lower: 0;
  }

  html {
    font-family: "Onest", sans-serif;
  }

  body {
    min-height: 100vh;
    color-scheme: light dark;
    margin: 0;
    padding: 0;
  }
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }

  .header {
    position: fixed;
    top: 0;
    right: 0;
    margin-bottom: 5rem;
  }
</style>
