---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Onest from "../public/fonts\static/Onest-Black.ttf"
import Github from "../icons/Github.astro";
import Footer from "../components/Footer.astro";

---

<Layout title="Welcome to Astro.">
  <main>
    <h1 class="text-red-500">
      Welcome <span class="text-gradient">Astro</span>
    </h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4">
      <Card
        href="https://github.com/No-Country/C9-G34"
        title="Lumini"
        body="Proyecto grupal de  red social"
        backgroundColor="bg-gradient-to-r from-green-600 via-green-500 to-green-500"
        imgRef="../public/noCountry-logo.png"
        owner="noCountry"
      />
        <Card
        href="https://github.com/No-Country/s7-09-T-JavaReact"
        title="TripMate"
        body="Proyecto grupal de comunidad de viaje "
        backgroundColor="bg-gradient-to-r from-yellow-500 via-yellow-500 to-yellow-400"
        imgRef="../public/tripmate-logo.png"
        owner="noCountry"
      />
     
    </ul>
  </main>
</Layout>

<style>

@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');

  :root{
    --color-violet : rgb(73 35 242);
    --z-priority: z-index: 100;
    --z-base: z-index: 10;
    --z-lower: z-index: 1;
    
  }

  html{
    font-family: 'Onest', sans-serif;
  }

  body{
    min-height: 100vh;
    color-scheme: light dark;
  }
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }

  .header{
    position: fixed;
    top: 0;
    right: 0;
    margin-bottom: 5rem;
  }


</style>
