---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Header from "../components/header/Header.astro";
import Onest from "../public/fonts\static/Onest-Black.ttf"

---

<Layout title="Welcome to Astro.">
  <div class="header w-full md:w-1/2 lg:w-1/2 xl:w-full">
  <Header/>
</div>
  <main>
    <h1 class="text-red-500">
      Welcome <span class="text-gradient">Astro</span>
    </h1>
    <p class="instructions">
      To get started, open the directory <code>src/pages</code> in your project.<br
      />
      <strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
    </p>
    <ul role="list" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-1">
      <Card
        href=""
        title="Documentation"
        body="Learn how Astro works and explore the official API docs."
        backgroundColor="bg-pink-200"
      />
      <Card
        href=""
        title="Integrations"
        body="Supercharge your project with new frameworks and libraries."
        backgroundColor="bg-yellow-200"
      />
      <Card
        href=""
        title="Themes"
        body="Explore a galaxy of community-built starter themes."
        backgroundColor="bg-blue-200"
      />
        <Card
        href=""
        title="Community"
        body="Come say hi to our amazing Discord community. ❤️"
        backgroundColor="bg-orange-200"
      />
     
    </ul>
  </main>
</Layout>

<style>

@import url('https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap');

  :root{
    color-scheme: light dark;
  }

  html{
    font-family: 'Onest', sans-serif;
  }

  body{
    min-height: 100vh;
  }
  main {
    margin: auto;
    padding: 1rem;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }

  .header{
    position: fixed;
    top: 0;
    right: 0;
    margin-bottom: 5rem;
  }


</style>
