---
import MainLayout from "../../layouts/Layout.astro";
---

  <MainLayout title="Not available" , description="Proyecto no disponible">
    <div class="error_container border border-gray-300 rounded-xl">
      <div class="flex gap-x-4">
        <span>
          <img src="/sentiment_sad_FILL0_wght400_GRAD0_opsz24.svg" alt="">
        </span>
        <h3 class="text-left text-2xl">
            El proyecto que buscas aún está en construcción.
        </h3>
        <span
          ><i>
            <img src="/build_circle.svg" alt="info" />
          </i></span
        >
      </div>
      <div class="ml-9 mt-3 flex justify-start items-end gap-x-3">
        <small> Pronto subiré nuevos cambios. </small>
      </div>
    </div>
  </MainLayout>


  <style>
    .error_container {
      padding: 10%;
      margin: 10% 5%;
    }
  </style>
