---
import { ViewTransitions, fade } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro;

---

<!doctype html>
<html lang={ currentLocale }>
  <head>
    <meta charset="UTF-16" />
    <meta name='error' content="error-page" />
    <meta name='description' content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/site-jupiter-logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    
    <ViewTransitions />
  </head>
  <body
    transition:animate={fade({ duration: "0.4s" })}
  >
    <slot />
    <!-- <script src="../scripts/darklightmode-control.ts"></script> -->
  </body>

  <style>
    body {
      padding: 2rem;
      margin: auto;
    }

    
    html {
      font-family: "Onest", sans-serif;
      background-size: 224px;
      scroll-behavior: smooth;
    }

    p{
        font-weight: 300;
        opacity: 0.85;

      }

    @media(prefers-reduce-motion: reduce){
    html {
      scroll-behavior: none;
    }}


    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
