---
import { ViewTransitions, fade } from "astro:transitions";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro;

---

<!doctype html>
<html lang={ currentLocale }>
  <head>
    <meta charset="UTF-16" />
    <meta name='gmr-info' content="gmr-info" />
    <meta name='description' content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/site-jupiter-logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    
    <ViewTransitions />
  </head>
  <div class="w-full mb-[10rem]">
    <Header/>
  </div>
  <body
    transition:animate={fade({ duration: "0.4s" })}
  >
    <slot />
    <!-- <script src="../scripts/darklightmode-control.ts"></script> -->
  </body>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Onest:wght@300&display=swap");
    body {
      padding: 3rem;
      margin: auto;
    }

    
    html {
      font-family: "Onest", sans-serif;
      background-size: 224px;
      scroll-behavior: smooth;
    }

    @media(prefers-reduce-motion: reduce){
    html {
      scroll-behavior: none;
    }}


    code {
      font-family:
        Menlo,
        Monaco,
        Lucida Console,
        Liberation Mono,
        DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New,
        monospace;
    }
  </style>
</html>
