---
import { ViewTransitions, fade } from "astro:transitions";
import Header from "../components/Header.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
const { currentLocale } = Astro;
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-16" />
    <meta name="gmr-info" content="gmr-info" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/site-jupiter-logo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script src="../scripts/darklightmode-control.ts"></script>

    <ViewTransitions/>
  </head>
  <body transition:animate={fade({ duration: "0.45s" })}  >
    <div class="w-full mb-[10rem]">
      <Header />
    </div>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --color-violet: rgb(73 35 242);
    --color-primary: #3c71ecad;
    --z-high-priority: 1000;
    --z-priority: 10;
    --z-base: 1;
    --z-lower: 0;
  }

  body {
    min-height: 100vh;
    color-scheme: light dark;
    margin: 0;
    padding: 0;
  }

  html {
    font-family: "Onest", sans-serif;
    background-size: 224px;
    scroll-behavior: smooth;
  }

  @media (prefers-reduce-motion: reduce) {
    html {
      scroll-behavior: none;
    }
  }


  summary{
    font-weight: 300;
    opacity: 0.85;

  }

  p{
    font-weight: 300;
    opacity: 0.85;

  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }
</style>
